services:
  aris-agent:
    build:
      context: ../services/agent
      dockerfile: Dockerfile
    image: intelycx-aris-agent:dev
    container_name: aris-agent
    ports:
      - "4444:443"
    env_file:
      - ../config/.env
    volumes:
      - ../services/agent/app:/app/app
    restart: unless-stopped
    networks:
      - intelycx_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  intelycx_net:
    external: true
    name: intelycx_default


