[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "intelycx-aris-podcast-lambda"
version = "0.1.0"
requires-python = ">=3.11"
dependencies = []


